.loadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    margin: 0 auto 40px;
    width: 200px;
    height: 45px;
    background-color: #003d99;
    color: #4d94ff;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    line-height: 20px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.loadBtn:hover {
    background-color: rgba(25, 6, 72, 0.9);
}